@font-face {
  font-family: "H-Bold";
  src: url("/fonts/Helvetica-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "H-Regular";
  src: url("/fonts/Helvetica-regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "H-Light";
  src: url("/fonts/Helvetica-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "H-LightObl";
  src: url("/fonts/Helvetica-LightOblique.ttf");
  font-display: swap;
}
@font-face {
  font-family: "H-Oblique";
  src: url("/fonts/Helvetica-Oblique.ttf");
  font-display: swap;
}
